.checkout{
    text-decoration: none;
    color: white;
    background-color: #1a1a1a;
    padding: 0.72rem 2.5rem;
    margin: 1rem;
    text-transform:uppercase ;
    
}
.Button {
    text-transform:uppercase
}