.out-of-stock {
    color: black; 
    background-color: yellow; 
    text-shadow: 1px 1px 1px black; 
    padding: 5px; 
    border-radius: 4px; 
    margin: 10px 0; 
}
.Option{
    color: white;
    font-size: small;
    text-decoration: none;
}